@CHARSET "UTF-8";
/* 使用html标签名称 */
body{ /* html元素选择器 */
	background-color: #00FF00;   /* background-color——变量 */
}

/* 以class引用 *//*  该标签作用在所有的p标签上 */
.p_css{
	font-size: 24px;
	font-weight: bold;
	color:#FF0000;
}


/* 使用html标签ID引用 定义加# */
#map_img{
	width:400px;
	height:300px;
	margin: 20px; /* 边距 *//* CSS盒模型 */
	margin-top:上边距    padding：内边距 
}
















